.card {
  width: 800px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
ul {
  list-style-type: none;
}
.cloudy {
  font-size: 60px;
}
.now-temperature {
  font-size: 20px;
}
.days {
  text-align: left;
  margin-left: 40px;
}
.weekdays-temperature {
  margin-left: 80px;
}
a {
  text-align: center;
  text-decoration: none;
  text-decoration-line: none;
  color: black;
}
h6 {
  text-transform: capitalize;
}
.extras {
  text-align: left;
}
strong {
  text-align: left;
}
.weather-temp {
  text-decoration: none;
}
.weather-temp .units:hover {
  position: relative;
  text-decoration: none;
}
body {
  background-color: pink;
}
.coder {
  text-align: center;
}
